    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <i class="fa fa-copyright" aria-hidden="true"></i>
                    <span>@DateTime.Now.Year Test Web world. All rights reserved.</span>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-rss" aria-hidden="true"></i>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
            </div>
        </div>

    </footer>