<header>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <a href="~/"><p>Test Web<second>World</second></p></a> 
            </div>
            <div class="col-6">
                <i class="fa fa-rss" aria-hidden="true"></i>
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</header>

<nav class="container navbar navbar-toggleable-md navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="~/" class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
                <a href="~/about" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
                <a href="~/blogs" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
                <a href="~/contact-us" class="nav-link">Contact Us</a>
            </li>
        </ul>
        <form action="/search" method="get" class="form-inline my-2 my-lg-0">
            <input type="search" class="form-control mr-sm-2" spellcheck="false" data-ms-editor="true" placeholder="Search Something..." value="" required name="q">
            <i class="fa fa-search" aria-hidden="true"></i>
        </form>
    </div>
</nav>